/.zig-cache
/.jj
/build
/node_modules
/tools
/compile_commands.json
**/.DS_Store

/aseprite/*.aseprite
!/aseprite/main.aseprite
/zig-out
/zig-pkg

/.claude
/.scratch
/docs
/skills
/AGENTS.md
/CLAUDE.md
/DESIGN.md