/.zig-cache
/.jj
/build
/node_modules
/tools
/compile_commands.json
**/.DS_Store


/aseprite/*.aseprite
!/aseprite/main.aseprite
/zig-out
/zig-pkg

/docs
/skills
/AGENTS.md
/CLAUDE.md
/.claude
!/.claude/tmp/bench.zig
/.aider.chat.history.md
/.aider.input.history